---
layout: home
---


	<div class="container">
	  <div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" style="width:100px">
	  </div>
	  <h3><a href="https://github.com/openstack/cloudkitty"><strong style="color:#27A822">CloudKitty</strong></a> is a <strong>Rating as a Service</strong> project for OpenStack and beyond.</h3>
    <p style="text-align: justify">
      The project aims at being a generic solution for the chargeback and rating of a cloud. Historically, it was only possible to operate it inside of an OpenStack context, but it is now possible to run CloudKitty in standalone mode.
    </p>
    <p style="text-align: justify">
      CloudKitty allows to do metric-based rating: it polls endpoints in order to retrieve measures and metadata about specific metrics, applies rating rules to the collected data and pushes the rated data to its storage backend.
    </p>
    <p style="text-align: justify">
      CloudKitty is highly modular, which makes it easy to add new features.
    </p>

    <div class="row" style="padding-top: 30px">
      <div class="col-md-6">
        <i class="fas fa-rocket" style="font-size:30px; color:#27A822"></i>
        <h4>Looking to get started ?</h4>
        Check out the <a href="https://docs.openstack.org/cloudkitty/latest/">documentation</a> !
      </div>

      <div class="col-md-6">
        <i class="fas fa-edit" style="font-size:30px; color:#27A822"></i>
        <h4>Wanna post an article on this site ?</h4>
        <a href="{{ site.baseurl }}introducing-cloudkittyio">Learn how to!</a>
      </div>
    </div>

    <div style="padding-top: 30px">
      <h4><strong>We're looking for contributors!</strong></h4>
    </div>
          <hr>
          <h3><strong>Latest posts:</strong></h3>
          <br>
          <div class="row">
            {% for post in site.posts %}
              {% if forloop.index > 2 %}
                {% break %}
            {% endif %}
            <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="col-sm-6">
                <div style="max-width: 350px; margin-left: auto;margin-right: auto;">
                  <img src="{{ site.baseurl }}{{ post.thumbnail }}" style="max-width: 100%;">
                  <h4><strong>{{ post.title }}</strong></h4>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

